body, html {
  font-size: 62.5%;
  font-family: 'Helvetica', sans-serif;
  text-align: center;
}

h1 {
	font-size: 3.0rem;
}

a:hover {
	color: lightblue;
}

p.standardp {
	color: gray;
	font-size: 1.9rem;
}

#firstsection {
	font-size: 1.95rem;
	font-weight: bold;
}

figure {
	text-align: center;
	float: right;
}

p.floatp {
	font-size:1.6rem;
}

#thirdsection {
	font-size: 1.8rem;
	font-family: 'Prestige', serif;
	text-align: center;
}

nav {
	padding: 0;
	text-align: center;
	font-size: 1.5rem;
}

nav ul li {
	display: inline-block;
	margin-right: 1.5rem;
}

nav ul li > a {
	color: orange;
}
