body, html {
  font-size: 62.5%;
  font-family: 'Helvetica', sans-serif;
  text-align: center;
}

#button {
  position: fixed;
  top: 0;
  right: 0;
  width: 10%;
}

h1 {
  font-size: 3.0rem;
}

a:hover {
  color: lightblue;
}

.standardp {
  color: gray;
  font-size: 1.9rem;
}

#firstSection {
  font-size: 1.95rem;
  font-weight: bold;
}

figure {
  text-align: center;
  float: right;
}

.floatp {
  font-size:1.6rem;
}

#thirdSection {
  font-size: 1.8rem;
  font-family: 'Prestige', serif;
  text-align: center;
}

nav {
  text-align: center;
  font-size: 1.5rem;
}

nav ul li {
  display: inline-block;
  margin-right: 2rem;
}

nav ul li > a {
  color: orange;
}
